@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Space Mono', monospace;
    background-color: #fdf6e3;
    color: #1a202c;
}

.retro-shadow {
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}

.retro-shadow-sm {
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
}

.router-link-active {
    @apply border-black bg-pink-100;
}